<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/grades.css') }}"> -->
    <link rel = "stylesheet" href = "Prof.css">
    <title>Professor's page</title>
  </head>
<body>
  <div id = "outterlayer">
    <h3 class = "child">Welcome Erick!</h3>
    <h1 class = "child1">UC Merced</h1>
    <h3 class = "child2">Sign out</h3>
  </div>
  <div id = "midlayer">
    <h3 class = "midchild">Your Courses</h3>
  </div>
  <div id = "bottomlayer">
    
  </div>
  <!-- <div id = "coursesBox">
        
  </div> -->
</body>
</html>