<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='student.css') }}">
    <script src="{{ url_for('static',filename='student.js') }}"></script>
  </head>
  <body onload="displayStudentsCourses({{data, url}})">
    <div>
      <div id ="outterlayer">
        <h3 class = "child">Welcome! </h1>
        <h1 class = "child1">ACME University</p>
        <h3 class = "child2" ><a href="http://127.0.0.1:5000/">Signout</a></h3>
      </div>
      <div id ="midlayer">
        <button
        onclick="displayStudentsCourses({{data, url}})">Your Courses</button>
        <button onclick="displayRegistration({{data, url}})">Add Courses</button>
      </div>
      <div id ="bottomlayer">
        <div id="courselist"></div>
      </div>
    </div>
  </body>
</html>