<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <script type="text/javascript"> 
      //Dummy data to create table from function
      var data = [
        {
          "Course Name": "Physics 121",
          "Teacher": "Susan Walker",
          "Time": "TR",
          "Enrollment": "5/10"
        },
        {
          "Course Name": "CS 106",
          "Teacher": "Ammon Hepworth",
          "Time": "W",
          "Enrollment": "6/10"
        }
      ];
      </script>
    </body>
    <table>
      <tr>
        <th>Course Name</th>
        <th>Professor</th>
        <th>Time</th>
        <th>Enrollment</th>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
  </body>
</html>